.env
/frontend/node_modules/
/backend/node_modules/
/backend/package-lock.json
/bakend/package.json
/frontend/package-lock.json
/frontend/package.json
/frontend/vite.config.ts
/frontend/tsconfig.json
/frontend/tsconfig.node.json
/backend/tsconfig.json
/backend/tsconfig.node.json
package-lock.json
package.json
Makefile
en.subject.pdf
README.md
docker-compose.yml
package-lock.json
.gitignore