node_modules

frontend/package-lock.json
frontend/package.json
frontend/tsconfig.json
frontend/tsconfig.node.json
frontend/vite.config.ts

backend/package-lock.json
backend/package.json
backend/tsconfig.json

.env
docker-compose.yml
Makefile
.gitignore