/* Remove before flight */
img {
	height: 50px;
	border-radius: 50%;
}

main {
	display: flex;
}

.panel {
	padding: 10px;
}

.user-list {
	min-width: 250px;
	max-width: 350px;
}

.user-list__item {
	display: flex;
	width: 100%;
	height: 70px;
	padding-left: 10px;
	align-items: center;
}

.bg-green {
	background-color: #07222c;
}

.user-list__item__avatar {
	display: flex;
	align-items: center;
	width: 100%; /* du parent */
	/* ajouter un padding si besoin */
}

.user-list__item__infos {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding-left: 15px;
	width: 100%; /* du parent */

}

.user-list__item__infos__icons {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-right: 20px;
}

.chat-container {
	background-color: #18566c;
	box-shadow: 10px 10px 5px #13455a;
	display: flex;
	flex-direction: column;
	min-width: 600px;
	width: 100%;
	max-height: 80vh;
	min-height: 80vh;
	overflow-y: auto;
	border-radius: 10px;
	padding: 30px;
}

/*
	bon ça fait un grand vide quand on a assez de message
	mais je n'ai pas trouvé mieux pour pouvoir garder le overflow-y
*/
.messages-container {
	margin-top: 450px;
}

/* Message */

.message-container {
	display: flex;
	margin: 10px;
}

.message-right{
	justify-content: flex-end;
}

.span-left {
	width: 80%;
}

.span-right {
	width: 0%;
}

.span-content {
	border-radius: 4px;
	padding: 15px;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	align-items: center;
	background: linear-gradient(#18566c, #1e6c89);
}

.message-container__avatar {
	height: 50px;
	border-radius: 50%;
}

/*
	Si le message est à gauche = destinataire
*/

.message-left > .span-left {
	width: 0%;
}

.message-left > .span-right {
	width: 80%;
}

.message-left > .span-content {
	flex-direction: row;
}

/*
	input et bouton d'envoi
*/
.sending-form {
	display: flex;
	width: 100%;
}

.sending-form > * {
	border-radius: 5px;
}

.sending-form > input {
	width: 100%;
	height: 40px;
	padding-left: 10px;
}

.sending-form > button {
	width: 100px;
}