/* Remove before flight */
img {
	height: 50px;
	border-radius: 50%;
}

main {
	display: flex;
}

.highlighted {
	background-color: green; /* You can adjust the color as needed */
}

.panel {
	padding: 10px;
}

.user-list {
	min-width: 250px;
	max-width: 350px;
}

.user-list__item {
	display: flex;
	width: 100%;
	height: 70px;
	padding-left: 10px;
	align-items: center;
}

button > user-list__item:active {
	color: red;
}

.user-list__item__avatar {
	display: flex;
	align-items: center;
	width: 100%; /* du parent */
	/* ajouter un padding si besoin */
}

.user-list__item__infos {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding-left: 15px;
	width: 100%; /* du parent */

}

.user-list__item__infos__icons {
	display: flex;
	align-items: center;
	gap: 5px;
	padding-right: 20px;
}

.chat-container {
	display: flex;
	flex-direction: column;
	min-width: 600px;
	width: 100%;
	max-height: 80vh;
	min-height: 80vh;
	/* justify-content: flex-end; */
	overflow-y: auto;
	border: solid ;
	border-radius: 10px;
	padding: 30px;
	position: relative;
}

/*
	a besoin de .chat-container à position relative
	pour toujours avoir ce bloc en bas du parent même avec zéro messages
*/
.messages-container {
	width: 97%;
	position: absolute;
	bottom: 0px;
	padding: 30px;
}

/* Message */

.message-container {
	display: flex;
	margin: 10px;
}

.message-right{
	justify-content: flex-end;
}

.span-left {
	width: 80%;
}

.span-right {
	width: 0%;
}

.span-content {
	border-radius: 4px;
	padding: 15px;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	align-items: center;
	background: linear-gradient(#164e63, #1e6c89);
}

.message-container__avatar {
	height: 50px;
	border-radius: 50%;
}

/*
	Si le message est à gauche = destinataire
*/

.message-left > .span-left {
	width: 0%;
}

.message-left > .span-right {
	width: 80%;
}

.message-left > .span-content {
	flex-direction: row;
}

/*
	input et bouton d'envoi
*/
.sending-form {
	display: flex;
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
}

.sending-form > * {
	border-radius: 5px;
}

.sending-form > input {
	width: 100%;
	height: 40px;
	padding-left: 10px;
}

.sending-form > button {
	width: 100px;
}