/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    background-color:rgb(22, 78, 99);
}

.custom-input:focus {
	outline: none !important;
	border-color: #0e7490 !important;
	border-width: 4px !important;
	box-shadow: none !important;
}
.custom-input-confirm:focus {
	outline: none !important;
	border-color: #EF4444 !important;
	border-width: 4px !important;
	box-shadow: none !important;
	color: #EF4444 !important;
}